[Desktop Entry]
Name=Launchpad
Comment=?

Type=Service
Icon=start-here-kde
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-Provides=org.kde.plasma.launchermenu

X-KDE-PluginInfo-Author=adhe
X-KDE-PluginInfo-Email=adhemarks[at]gmail.com
X-KDE-PluginInfo-Name=launchpadPlasma
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Application Launchers
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL v2+
X-KDE-PluginInfo-EnabledByDefault=true
