[Desktop Entry]
Name=pearOS
X-KDE-PluginInfo-Name=pearOS
X-KDE-PluginInfo-Author=Alexandru Balan
X-KDE-PluginInfo-Email=alxb421@gmail.com
X-KDE-PluginInfo-License=GPL3.0
