[Unit]
Description=Boot Sound
After=sound.target

[Service]
Type=simple
# Systemd captures stdout/stderr to journal by default, 
# so you don't need the redirections here.
ExecStart=/usr/bin/aplay /boot/boot-sound.wav

[Install]
WantedBy=multi-user.target
