[Desktop Entry]
Name=pearOS-dark
X-KDE-PluginInfo-Name=Variable Wallpaper
X-KDE-PluginInfo-Author=Alexandru Balan
X-KDE-PluginInfo-Email=alxb421@gmail.com
X-KDE-PluginInfo-License=GPL3.0
