#
# SPDX-License-Identifier: GPL-3.0-or-later

[Unit]
Description=Initializes Pacman keyring
Wants=haveged.service
After=haveged.service
Requires=etc-pacman.d-gnupg.mount
After=etc-pacman.d-gnupg.mount

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStartPre=/usr/bin/env bash /usr/local/bin/apply-nvidia-env
ExecStart=/usr/bin/pacman-key --init
ExecStart=/usr/bin/pacman-key --populate archlinux
ExecStart=/usr/bin/pacman-key --populate manjaro
[Install]
WantedBy=multi-user.target
