[Desktop Entry]
Name=pearOS
X-KDE-PluginInfo-Author=alxb421, fork on Vinceliuice's theme
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-Email=alxb421@gmail.com
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-PluginInfo-License=GPL3.0
X-KDE-PluginInfo-Name=pearOS
X-KDE-PluginInfo-Version=.11
X-KDE-PluginInfo-Website=https://pearos.xyz

[Wallpaper]
defaultWallpaperTheme=pearOS
defaultFileSuffix=.png
defaultHeight=1440
defaultWidth=2560
