:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none; // You should add some other style for :focus to help UX/a11y
}

* {
  box-sizing: border-box;
}

#create_user {
  margin-top: 100px;
  margin-right: auto;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sen";
  font-weight: 400;
  font-size: 14px;
  background-size: 100%;
  background-image: url(../resources/background.png);
}

input{
        border:none;
    }

input:focus, textarea:focus
{
    border: 1px solid #1670BE;
    box-shadow: 0 0 3px #1670BE;
    outline-offset: 0px;
    outline: none;
}

html {
  height: 100%;
}

@font-face {
  font-family: "Sen";
  font-weight: 400;
  src: url(../fonts/pearOS-Font-Regular.ttf);
}

h1 {
  font-family: "Sen";
  font-weight: 900;
  letter-spacing: -0.053em;
  font-size: 41px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0px;
  color: #333333;
  margin-left: -3px;
}

p, span {
  letter-spacing: -0.038em;
}

img, a {
  -webkit-user-drag: none;
}

.worldmap {
  margin-left: 0.11em;
  margin-top: 70px;
  height: 70px;
}

.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 800px;
  height: 600px;
  background: linear-gradient(to bottom, #f5f5f5, #e5e5e5);
  position: relative;
  border-radius: 10px;
}

.countries {
  margin-top: 10px;
}

.list {
  width: 350px;
  height: 200px;
  display: block;
  font-size: 14px;
  letter-spacing: -0.01em;
  word-spacing: 0.1em;
  font-family: inherit;
  border: 1px solid #c5c5c5;
  border-radius: 1px;
  overflow-y: auto;
}

.list:focus {
  box-shadow: 0 0 1px 3px #57a2ff;
}

.list::-webkit-scrollbar {
  width: 15px;
}

.list::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-left: 1px solid #ececec;
}

.list::-webkit-scrollbar-track:hover {
  background-color: #fafafa;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c1c1;
  border-width: 3px 3px 3px 4px;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

option {
  padding-left: 4px;
  padding-top: 2px;
}

.description {
  margin-top: 0px;
}

.tab {
  display: none;
}

.tab.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
    opacity: 0.2;
}

.arrow-button-container {
  display: inline-block;
  margin-left: -40px;
  margin-right: 20px;
  color: white;
}


.movement-buttons {
  margin-top: auto;
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: right;
}

.button {
  background-color: #FFFFFF;
  border: none;
  color: black;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-left: 30px;
}

.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row {
  width: 30%;
  height: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.license {
  width: 80%;
  height: 350px;
  color: #808080;
  overflow: scroll;
}


input{
        border:1px solid #000000;
	margin-left: 5px;
    }

input:focus, textarea:focus
{
    border: 0px solid #1670BE;
    box-shadow: 0 0 1px 3px #57a2ff;
    outline-offset: 0px;
    outline: none;
}

label {
  display: inline-block;
  float: left;
  width: 200px;
  text-align: right;
}
