.liquid-glass {
  position: relative;
  z-index: 1;
}

.effect {
  pointer-events: none !important;
  z-index: 1 !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.26s ease-out;
}

.liquid-gel * {
  position: relative;
  z-index: 2;
}

.liquid-gel * {
  backdrop-filter: none !important;
  -webkit-backdrop-filter: none !important;
  filter: none !important;
  -webkit-filter: none !important;
}

.filter {
  width: 100%;
  height: 100%;
  pointer-events: none;
  position: absolute;
  inset: 0;
}

@media (max-width: 768px) {
  .liquid-gel {
    border-radius: 16px !important;
  }
}