:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sen";
  font-weight: 400;
  font-size: 14px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-image: url(../resources/background.avif); */
  background-color: #0f110e;
  position: relative;
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-image: url(../resources/background.avif); */
  background-color: #2c2c2c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(8px);
  z-index: -2;
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: -1;
}

html {
  height: 100%;
}

@font-face {
  font-family: "Sen";
  font-weight: 400;
  src: url(../fonts/pearOS-Font-Regular.ttf);
}

h1 {
  font-family: "Sen";
  font-weight: 900;
  letter-spacing: -0.053em;
  font-size: 41px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0px;
  color: #dfdfdf;
  margin-left: -3px;
}

p, span {
  letter-spacing: -0.038em;
}

img, a {
  -webkit-user-drag: none;
}

.worldmap {
  margin-left: 0.11em;
  margin-top: 70px;
  height: 70px;
}

.release-logo {
  padding: 70px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
  height: 300px;
}

.release-logo-agreement {
  padding: 70px 0px 0px 0px;
  height: 150px;
}


.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 800px;
  height: 600px;
  position: relative;
  border-radius: 10px;
  background: #1e1e1e;
  border: 2px solid #383838; /* grosime de 4px și culoare custom */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}


.menu {
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  background: #312e2e;
}


.countries {
  margin-top: 10px;
}

.list {
  width: 350px;
  height: 200px;
  display: block;
  font-size: 14px;
  letter-spacing: -0.01em;
  word-spacing: 0.1em;
  font-family: inherit;
  border: 1px solid #c5c5c5;
  border-radius: 10px;
  border-color: transparent;
  overflow-y: auto;
  clor: red;
  background: #252525;
  border-color: #383838;
}

.list:focus {
  box-shadow: 0 0 1px 3px #57a2ff;
}

.list::-webkit-scrollbar {
  width: 15px;
}

.list::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-left: 1px solid #ececec;
}

.list::-webkit-scrollbar-track:hover {
  background-color: #fafafa;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c1c1;
  border-width: 3px 3px 3px 4px;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

option {
  padding-left: 4px;
  padding-top: 2px;
  color: #dedede;
  text-align: center;
}

.description {
  margin-top: 0px;
}

.menu_title {
  margin-top: -50px;
  padding: 0px 0px 25px 60px;
}

.disk_title {
  margin-top: -50px;
  padding: 0px 0px 25px 0px;
}

.disk_logo {
  height: 70px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  opacity: 20%;
  padding: 8px;
}

.disk_logo_progress {
  height: 70px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  opacity: 100%;
  padding: 8px;
}


.menu_description {
  margin-top: -40px;
  padding: 0px 0px 0px 60px;
}

.disk_description {
  margin-top: -40px;
  padding: 0px 0px 0px 0px;
}

.setup-text {
  color: white;
}

.license-sub-text {
  margin-top: -15px;
  color: white;
}

.tab {
  display: none;
}

.tab.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
    opacity: 0.2;
}

.arrow-button {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
  border: none;
  background: none;
  background-size: 100% 100%;
  background-image: url(../resources/arrowbutton.png);
}
.arrow-button:focus {
  background-image: url(../resources/arrowbuttonFocus.png);
}

.arrow-button:active {
  background-image: url(../resources/arrowbuttonPressed.png);
}

.arrow-button:active:focus {
  background-image: url(../resources/arrowbuttonFocusPressed.png);
}

.arrow-button-container {
  display: inline-block;
  margin-left: -40px;
  margin-right: 20px;
  color: white;
}


.movement-buttons {
  margin-top: auto;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: right;
}

.install-button {
  background-color: #1d7adc;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-left: auto;
  margin-bottom: 10px;
}

.install-button-agreement {
  background-color: #5b5e5b;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 10px;
}

.button {
  background-color: #FFFFFF;
  border: none;
  color: black;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-left: 30px;
}


.menu_button {
  background-color: transparent;
  border: none;
  color: white;
  margin-top:20px;
  text-align: left;
  font-size: 16px;
  width:93%;
  border-radius: 10px;
  height: 80px;
}

.disk_button {
  background-color: transparent;
  border: none;
  color: white;
  margin-top:20px;
  text-align: center;
  font-size: 16px;
  width: 150px;
  border-radius: 10px;
  height: 200px;
}

.disk_button:focus {
  background-color: #484f4e;
  border: none;
  color: white;
  margin-top:20px;
  text-align: center;
  font-size: 16px;
  width: 150px;
  border-radius: 10px;
  height: 200px;
}

.disk_button:focus .disk_list:after{height="675px"}

.menu_button:hover {
  background-color: #393e3d;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
}

.disk_button:hover {
  background-color: #393e3d;
  display: inline-block;
  font-size: 16px;
}


.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row {
  width: 30%;
  height: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.license {
  width: 80%;
  height: 350px;
  color: #808080;
  overflow: scroll;
}

.license-agreement {
  width: 80%;
  height: 200px;
  color: #808080;
  overflow: scroll;
}

.gradient {
  background: rgb(56,68,75);
  background: radial-gradient(circle, rgba(56,68,75,1) 0%, rgba(35,43,48,1) 100%);
}

.middle {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: -25px;
}

.spinner {
  font-size: 25px;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  font-size:18px;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.5em;
  background-color: transparent;
  transform-origin: center -0.2222em;
  -webkit-animation: spinner-fade 1s infinite linear;
          animation: spinner-fade 1s infinite linear;
}
.spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: rotate(0deg);
}
.spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
          animation-delay: 0.083s;
  transform: rotate(30deg);
}
.spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
          animation-delay: 0.166s;
  transform: rotate(60deg);
}
.spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
          animation-delay: 0.249s;
  transform: rotate(90deg);
}
.spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
          animation-delay: 0.332s;
  transform: rotate(120deg);
}
.spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
          animation-delay: 0.415s;
  transform: rotate(150deg);
}
.spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
          animation-delay: 0.498s;
  transform: rotate(180deg);
}
.spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
          animation-delay: 0.581s;
  transform: rotate(210deg);
}
.spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
          animation-delay: 0.664s;
  transform: rotate(240deg);
}
.spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
          animation-delay: 0.747s;
  transform: rotate(270deg);
}
.spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
          animation-delay: 0.83s;
  transform: rotate(300deg);
}
.spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
          animation-delay: 0.913s;
  transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}

#move-back-btn {
  transform: rotate(180deg);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0px 0px 0px 30%;
}

.grid-container-agreement {
  display: grid;
  grid-template-columns: auto 70px 30px auto;
  padding: 0px 0px 0px 10%;
}

.grid-container-status {
  display: grid;
  grid-template-columns: auto 70px 0px auto;
  padding: 0px 0px 0px 10%;
}

li {
  float: left;
}

ul {
list-style-type: none;
}

#btn{
    display: none;
}
#btn:checked + label > img {
    width: 75px;
    height: 75px;
}


input[type="radio"]{
  position: absolute;
  opacity: 0;
}

[type=radio]+div {
  cursor: pointer;
}

[type=radio]:checked + img{
  background-color: #484f4e;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  opacity: 100%;
}

[type=radio]:checked + p{
  background-color: #484f4e;
  border: none;
  color: black;
  text-align: center;
  border-radius: 10px;
  opacity: 100%;
}


.disk_title {
  color: white;
  font-size: 12px;
  text-align: center;
}

/* Stiluri pentru navbar-ul dinamic */
.taskbar {
  text-transform: capitalize;
  height: 2em;
  z-index: 5;
  width: 100vw;
  backdrop-filter: blur(10vw);
  -webkit-backdrop-filter: blur(10vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #00000033;
  color: #FFFFFFDD;
  font-size: 0.8em;
  text-shadow: 0rem 0.1rem 0.3rem #00000011;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: solid 1px #FFFFFF11;
  box-shadow: 0px 0px 4px #00000033;
  position: fixed;
  top: 0;
  left: 0;
}

.taskbar-button {
  display: flex;
  margin-left: 0.5rem;
  padding-left: 0.5rem;
  align-items: center;
  overflow-x: scroll;
  border-radius: 0.3rem;
  padding-right: 0.3rem;
  height: 100%;
}

.taskbar-button::-webkit-scrollbar {
  display: none;
}

.taskbar-button img {
  height: 1.4em;
  opacity: 0.87;
}

.taskbar-button div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 0rem 1rem;
  margin: 0rem -0.2rem;
  border-radius: 0.3rem;
}

.date-time {
  display: flex;
  align-items: center;
  height: 100%;
  margin-right: 1rem;
  z-index: 2;
}

.date-time div {
  padding: 0rem 0.3rem;
}

/* Ajustare pentru conținutul de sub navbar */
body {
  padding-top: 2em; /* Spațiu pentru navbar-ul fix */
}

/* Meniu dropdown pentru logo */
.logo-menu {
  position: absolute;
  top: 2em;
  left: 0.5rem;
  background-color: #2c2c2cee;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  border: 1px solid #FFFFFF22;
  min-width: 200px;
  z-index: 1000;
  display: none;
  overflow: hidden;
}

.logo-menu.show {
  display: block;
}

.logo-menu-item {
  padding: 0.8rem 1.2rem;
  color: #FFFFFFDD;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-bottom: 1px solid #FFFFFF11;
  font-size: 0.9em;
}

.logo-menu-item:last-child {
  border-bottom: none;
}

.logo-menu-item:hover {
  background-color: #FFFFFF22;
}

.logo-menu-item:active {
  background-color: #FFFFFF33;
}

.taskbar-button div:first-child {
  cursor: pointer;
}

#app-name-button {
  cursor: pointer;
}

/* Modal pentru About */
.modal {
  display: none;
  position: fixed;
  z-index: 2000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.modal.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  background-color: #2c2c2cee;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.7);
  border: 1px solid #FFFFFF22;
  min-width: 400px;
  text-align: center;
  color: #FFFFFFDD;
}

.modal-content h2 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  color: #FFFFFF;
  font-size: 1.5em;
}

.modal-content p {
  margin: 0.8rem 0;
  font-size: 1em;
  line-height: 1.6;
}

.modal-content button {
  margin-top: 1.5rem;
}
