:not(input):not(textarea),
:not(input):not(textarea)::after,
:not(input):not(textarea)::before {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

input, button, textarea, :focus {
  outline: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Sen";
  font-weight: 400;
  font-size: 14px;
  background-size: 100%;
  background: radial-gradient(#38444b, #232b30);
  background: radial-gradient(#242424, #121212);
}

html {
  height: 100%;
}

@font-face {
  font-family: "Sen";
  font-weight: 400;
  src: url(../fonts/pearOS-Font-Regular.ttf);
}

h1 {
  font-family: "Sen";
  font-weight: 900;
  letter-spacing: -0.053em;
  font-size: 41px;
  margin-top: 20px;
  margin-bottom: 15px;
  padding: 0px;
  color: #dfdfdf;
  margin-left: -3px;
}

p, span {
  letter-spacing: -0.038em;
}

img, a {
  -webkit-user-drag: none;
}

.worldmap {
  margin-left: 0.11em;
  margin-top: 70px;
  height: 70px;
}

.release-logo {
  padding: 70px 0px 0px 0px;
  margin: 40px 0px 0px 0px;
  height: 300px;
}

.release-logo-agreement {
  padding: 70px 0px 0px 0px;
  height: 150px;
}


.flex-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app {
  width: 800px;
  height: 600px;
  position: relative;
  border-radius: 10px;
  background: #2e2f31;
}

.menu {
  width: 500px;
  height: 500px;
  position: relative;
  border-radius: 10px;
  background: #2e2f31;
}


.countries {
  margin-top: 10px;
}

.list {
  width: 350px;
  height: 200px;
  display: block;
  font-size: 14px;
  letter-spacing: -0.01em;
  word-spacing: 0.1em;
  font-family: inherit;
  border: 1px solid #c5c5c5;
  border-radius: 1px;
  border-color: transparent;
  overflow-y: auto;
  clor: red;
  background: #1e1e1e;
}

.list:focus {
  box-shadow: 0 0 1px 3px #57a2ff;
}

.list::-webkit-scrollbar {
  width: 15px;
}

.list::-webkit-scrollbar-track {
  background-color: #fbfbfb;
  border-left: 1px solid #ececec;
}

.list::-webkit-scrollbar-track:hover {
  background-color: #fafafa;
}

.list::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #c1c1c1;
  border-width: 3px 3px 3px 4px;
  border-style: solid;
  border-color: transparent;
  background-clip: content-box;
}

.list::-webkit-scrollbar-thumb:hover {
  background-color: #7d7d7d;
}

option {
  padding-left: 4px;
  padding-top: 2px;
  color: #dedede;
  text-align: center;
}

.description {
  margin-top: 0px;
}

.menu_title {
  margin-top: -50px;
  padding: 0px 0px 25px 60px;
}

.disk_title {
  margin-top: -50px;
  padding: 0px 0px 25px 0px;
}

.disk_logo {
  height: 70px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  opacity: 20%;
  padding: 8px;
}

.disk_logo_progress {
  height: 70px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px;
  opacity: 100%;
  padding: 8px;
}


.menu_description {
  margin-top: -40px;
  padding: 0px 0px 0px 60px;
}

.disk_description {
  margin-top: -40px;
  padding: 0px 0px 0px 0px;
}

.setup-text {
  color: white;
}

.license-sub-text {
  margin-top: -15px;
  color: white;
}

.tab {
  display: none;
}

.tab.active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

hr {
    opacity: 0.2;
}

.arrow-button {
  width: 30px;
  height: 30px;
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 6px;
  border: none;
  background: none;
  background-size: 100% 100%;
  background-image: url(../resources/arrowbutton.png);
}
.arrow-button:focus {
  background-image: url(../resources/arrowbuttonFocus.png);
}

.arrow-button:active {
  background-image: url(../resources/arrowbuttonPressed.png);
}

.arrow-button:active:focus {
  background-image: url(../resources/arrowbuttonFocusPressed.png);
}

.arrow-button-container {
  display: inline-block;
  margin-left: -40px;
  margin-right: 20px;
  color: white;
}


.movement-buttons {
  margin-top: auto;
  position: absolute;
  bottom: 10px;
  width: 100%;
  text-align: right;
}

.install-button {
  background-color: #1d7adc;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 5px 10px 5px 10px;
  margin-left: auto;
  margin-bottom: 10px;
}

.install-button-agreement {
  background-color: #5b5e5b;
  border: none;
  color: white;
  border-radius: 8px;
  text-align: center;
  padding: 5px 15px 5px 15px;
  margin-left: auto;
  margin-right: 5px;
  margin-bottom: 10px;
}

.button {
  background-color: #FFFFFF;
  border: none;
  color: black;
  border-radius: 8px;
  text-align: center;
  cursor: pointer;
  padding: 5px 10px 5px 10px;
  margin-left: 30px;
}


.menu_button {
  background-color: transparent;
  border: none;
  color: white;
  margin-top:20px;
  text-align: left;
  font-size: 16px;
  width:93%;
  border-radius: 10px;
  height: 80px;
}

.disk_button {
  background-color: transparent;
  border: none;
  color: white;
  margin-top:20px;
  text-align: center;
  font-size: 16px;
  width: 150px;
  border-radius: 10px;
  height: 200px;
}

.disk_button:focus {
  background-color: #484f4e;
  border: none;
  color: white;
  margin-top:20px;
  text-align: center;
  font-size: 16px;
  width: 150px;
  border-radius: 10px;
  height: 200px;
}

.disk_button:focus .disk_list:after{height="675px"}

.menu_button:hover {
  background-color: #393e3d;
  border: none;
  color: white;
  display: inline-block;
  font-size: 16px;
}

.disk_button:hover {
  background-color: #393e3d;
  display: inline-block;
  font-size: 16px;
}


.column {
  float: left;
  width: 30%;
  padding: 10px;
}

.row {
  width: 30%;
  height: 30%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.td {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
}

.license {
  width: 80%;
  height: 350px;
  color: #808080;
  overflow: scroll;
}

.license-agreement {
  width: 80%;
  height: 200px;
  color: #808080;
  overflow: scroll;
}

.gradient {
  background: rgb(56,68,75);
  background: radial-gradient(circle, rgba(56,68,75,1) 0%, rgba(35,43,48,1) 100%);
}

.middle {
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin-left: -25px;
}

.spinner {
  font-size: 25px;
  display: inline-block;
  width: 1em;
  height: 1em;
}
.spinner.center {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.spinner-blade {
  position: absolute;
  left: 0.4629em;
  bottom: 0;
  font-size:18px;
  width: 0.074em;
  height: 0.2777em;
  border-radius: 0.5em;
  background-color: transparent;
  transform-origin: center -0.2222em;
  -webkit-animation: spinner-fade 1s infinite linear;
          animation: spinner-fade 1s infinite linear;
}
.spinner-blade:nth-child(1) {
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  transform: rotate(0deg);
}
.spinner-blade:nth-child(2) {
  -webkit-animation-delay: 0.083s;
          animation-delay: 0.083s;
  transform: rotate(30deg);
}
.spinner-blade:nth-child(3) {
  -webkit-animation-delay: 0.166s;
          animation-delay: 0.166s;
  transform: rotate(60deg);
}
.spinner-blade:nth-child(4) {
  -webkit-animation-delay: 0.249s;
          animation-delay: 0.249s;
  transform: rotate(90deg);
}
.spinner-blade:nth-child(5) {
  -webkit-animation-delay: 0.332s;
          animation-delay: 0.332s;
  transform: rotate(120deg);
}
.spinner-blade:nth-child(6) {
  -webkit-animation-delay: 0.415s;
          animation-delay: 0.415s;
  transform: rotate(150deg);
}
.spinner-blade:nth-child(7) {
  -webkit-animation-delay: 0.498s;
          animation-delay: 0.498s;
  transform: rotate(180deg);
}
.spinner-blade:nth-child(8) {
  -webkit-animation-delay: 0.581s;
          animation-delay: 0.581s;
  transform: rotate(210deg);
}
.spinner-blade:nth-child(9) {
  -webkit-animation-delay: 0.664s;
          animation-delay: 0.664s;
  transform: rotate(240deg);
}
.spinner-blade:nth-child(10) {
  -webkit-animation-delay: 0.747s;
          animation-delay: 0.747s;
  transform: rotate(270deg);
}
.spinner-blade:nth-child(11) {
  -webkit-animation-delay: 0.83s;
          animation-delay: 0.83s;
  transform: rotate(300deg);
}
.spinner-blade:nth-child(12) {
  -webkit-animation-delay: 0.913s;
          animation-delay: 0.913s;
  transform: rotate(330deg);
}

@-webkit-keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}

@keyframes spinner-fade {
  0% {
    background-color: #69717d;
  }
  100% {
    background-color: transparent;
  }
}

#move-back-btn {
  transform: rotate(180deg);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 0px 0px 0px 30%;
}

.grid-container-agreement {
  display: grid;
  grid-template-columns: auto 70px 30px auto;
  padding: 0px 0px 0px 10%;
}

.grid-container-status {
  display: grid;
  grid-template-columns: auto 70px 0px auto;
  padding: 0px 0px 0px 10%;
}

li {
  float: left;
}

ul {
list-style-type: none;
}

#btn{
    display: none;
}
#btn:checked + label > img {
    width: 75px;
    height: 75px;
}


input[type="radio"]{
  position: absolute;
  opacity: 0;
}

[type=radio]+div {
  cursor: pointer;
}

[type=radio]:checked + img{
  background-color: #484f4e;
  border: none;
  color: white;
  text-align: center;
  border-radius: 10px;
  opacity: 100%;
}

[type=radio]:checked + p{
  background-color: #484f4e;
  border: none;
  color: black;
  text-align: center;
  border-radius: 10px;
  opacity: 100%;
}


.disk_title {
  color: white;
  font-size: 12px;
  text-align: center;
}
